.box{
    width: 100px;
    height: 100px;
    
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: palegoldenrod;
    color: red;
    font-size: 50px;
}

#name{
    text-align: center;
    color: black;
    margin-top: 40px;
    font-size: 75px;
}

#game{
    text-align: center;
    margin-top: 75px;
    flex: none;
    
}

body{
    background-color: aqua;
}

#btn1{
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 50px;
    text-align: center;

}
#btn{
    text-align: center;
}

#reset{
    text-align: center;
    margin-top: 100px;
}

#btn2{
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 30px;
    width: 150px;
    height: 40px;
}

#show{
    width: 400px;
    height: 50px;
    border-radius: 30px;
    background-color: black;
    color:greenyellow;
    padding-top: 5px;
    text-align: center;
    margin-left: 550px;
    margin-top: 30px;
    font-size: 20px;
}